Shapely
allensdk
ipytree
matplotlib
numpy==1.26.4
opencv-python
scikit-image
scikit-learn
scipy
seaborn
tqdm
pyarrow
widgetsnbextension
voila
hdmf==3.4.7
pandas==1.2.0
statsmodels
ipywidgets
ipython
Pillow
simplejson
streamlit
streamlit-tree-select
